@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

.hero, .footer {
    background-color: #1F2937;
}

/* Hero section */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation h1, .logo {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}
.hero a, .hero p {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.hero a {
    padding: 0 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.logo {
    font-size: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    width: 1000px;
}

.presentation {
    display: flex;
    padding: 100px 0;
    width: 1000px;
}

.presentation button {
    font-weight: 600;
    font-size: 16px;
    background-color: #3883F6;
    color: white;
    padding: 9px 40px;
    border-radius: 8px;
    border: none;
}

.presentation h1, .presentation p {
    margin: 0;
}

.presentation p {
    padding: 0 0 12px;
}

.presentation img {
    flex: 1 0 auto;
    background-color: #6d747d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}

.info {
    flex: 1;
    padding-right: 40px;
}

/* Information section */

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0 100px;
}

.information h2 {
    width: 1000px;
    text-align: center;
}

.media {
    width: 800px;
    display: flex;
}

.card {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card p {
    padding: 0 10px;
    margin: 10px;
    color: #1F2937;
}

.card-image {
    width: 160px;
    height: 160px;
    border: #3b82f6;
    border-style: solid;
    border-radius: 10%;
    border-width: 4px;
}

/* Quote section */

.quote-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 100px 0;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    width: 750px;
    margin: 0;
    padding: 0;
    text-align: start;
}

.author {
    width: 750px;
    display: flex;
    justify-content: flex-end;
    font-size: 20px;
    font-weight: 900;
}

/* Call to action section */

.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    background-color: #3882F6;
    width: 1000px;
    display: flex;
    margin: 100px 0;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}

.cta-text {
    color: #E5E7EB;
    width: 600px;
    flex-grow: 0;
    padding: 50px 0;
}

.cta-text h3, .cta-text p {
    padding: 0;
    margin: 0;
}

.cta-text h3 {
    font-size: 26px;
}

.call-to-action button {
    color: #E5E7EB;
    flex-grow: 0;
    font-size: 18px;
    font-weight: 800;
    border-radius: 8px;
    border-color: white;
    border-style: solid;
    background-color: transparent;
    padding: 7px 36px;
}
